@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model FLS.CoffeeDesk.Models.CatalogViewModel

@{
    ViewBag.Title = @Model.Catalog.Name;
    Layout = "_Layout";
}

<h2>@Model.Catalog.Name</h2>

@foreach (var category in Model.Categories)
{
    <h3>@category.Name</h3>
                      
    <ul>
        @foreach (var product in Model.Products[category.ContentLink.ID])
        {
            <li>
                @if (!ContentReference.IsNullOrEmpty(product.Image))
                {
                    <img src="@Url.ContentUrl(product.Image)" width="150px" height="150px" />
                }
                @Html.PropertyFor(m=>product.Name)
            </li>
        }
    </ul>
}